@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography tweaks for Markdown */
.prose :where(h1,h2,h3,h4){scroll-margin-top: 6rem}
.prose img{max-width:100%;height:auto;border-radius:1rem}
.prose code{background:rgba(0,0,0,.05);padding:.1rem .3rem;border-radius:.3rem}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.pixelated { image-rendering: pixelated; image-rendering: crisp-edges; }
.sprite { width: 24px; height: 24px; display: inline-block; }
.sprite.is-2x { width: 32px; height: 32px; }

.fancy-title { font-family: "MedievalSharp", ui-serif, Georgia, "Times New Roman", serif; }

/* Chaque icône fait 16x16, alignée sur la feuille UI horizontale */
.ico { background-repeat: no-repeat; background-size: auto; }
.ico-castle   { background-position:   0px   0px; width:16px; height:16px; }
.ico-barracks { background-position: -16px   0px; width:16px; height:16px; }
.ico-tavern   { background-position: -32px   0px; width:16px; height:16px; }
.ico-plaza    { background-position: -48px   0px; width:16px; height:16px; }
.ico-archives { background-position: -64px   0px; width:16px; height:16px; }
.ico-book     { background-position: -80px   0px; width:16px; height:16px; }
