@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography tweaks for Markdown */
.prose :where(h1,h2,h3,h4){scroll-margin-top: 6rem}
.prose img{max-width:100%;height:auto;border-radius:1rem}
.prose code{background:rgba(0,0,0,.05);padding:.1rem .3rem;border-radius:.3rem}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
